.signupdiv{
  width: 80%;
  position: absolute;
  margin: 10%;
  margin-top: 50px;
}
.formdiv{
  max-width: 30%;
  height: 350px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
  top: 25px;
  left: 35%;
}

h4{
  margin-left: 35px;
  margin-top: 15px;
}

.inputfield{
  margin: 10px 35px;
  border: 1px solid rgb(91, 135, 222);
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: 35px;
}
input:hover {
    border: 1px solid rgb(149, 192, 31)
 
}
.btn {
  margin: 20px 30px;
  border: 1px solid rgb(91, 135, 222);
  border-radius: 10px;
  width: 20%;
  height: 35px;
}
.signinwgoogle{
    margin-left: 35px;
    border: 1px solid rgb(91, 135, 222);
    border-radius: 10px;
    width: 80%;
    height: 35px;
    background-color: rgb(61, 61, 123);
    color: white
}