.navbar{
  height: 100px;
  width: 80%;
  min-width: 500px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  
}
.navimg{
  height: 100px;
  width: 100px;
  margin-left: 10px;
}
.navitems{
  margin: 0px 50px;
}
.link{
  padding: 0 25px;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: rgb(64, 103, 209)
}
.link:hover {
  padding: 0 25px;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  color: rgb(149, 192, 31);
  text-decoration: underline;
}
